doctype html
html(lang="en-US" ng-app="angularPractice")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Angular Practice
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='lib/build.css')
    link(href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css')
  body(ng-controller="Main as main")
    .container
      .header
        h1 Angular Practice
      .form-section
        form.form-inline(name="newThingForm" ng-submit="newThingForm.$valid && main.addNewThing()" novalidate)
          .form-group
            label Name
            input.form-control(type="text", placeholder="object" ng-model="main.newThing.name" required)
          .form-group
            label Twitter
            input.form-control(type="text", placeholder="TWEETUR" ng-model="main.newThing.twitter" required)
          .form-group
            label Photo
            input.form-control(type="text", placeholder="url" ng-model="main.newThing.photo")
          input.btn(type="submit" ng-disabled="newThingForm.$invalid")
      .table-section
        table(class="table")
          tr
            th
            th Name
            th Twitter
            th Photo
          tr(ng-repeat="thing in main.things | orderBy:'name' | filter:query")
            td: button.btn(ng-click="main.removeThing(thing)") Remove
            td {{thing.name}}
            td: a(href="http://twitter.com/{{thing.twitter}}", target="_blank") {{thing.twitter}}
            td: img(src="{{thing.photo}}")
      form
        .form-group
          label Filter
          input(type="text", placeholder="filter" ng-model="query")
    script(src="lib/build.js")
    script(src="js/main.js")
