doctype html
html(lang="en-US" ng-app="angularPractice")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Angular Practice
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='lib/build.css')
    link(href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css')
  body(ng-controller="Main as main")
    .container
      .header
        h1 Angular Practice
      .table-section
        table(class="table")
          tr
            th
            th Name
            th Twitter
            th Photo
          // below: syntax for looping over an object; just say "thing" to loop over an array.
          // as written this is still looping over an array. It gives each (id, thing) from main.things
          // to objToArr, which is made into an array element. It loops over these.

          // Need to use ng-repeat over an array in order for filter:query to work. orderBy:'name' won't work with an object
          // either but it won't throw an error.

          // starts w/firebase structure: { id: {thing obj}, id: {thing obj}, etc.}
          // converts the firebase structure to an array full of objects with _id added (which was the key "id" from before):
          // [{thing obj}, {thing obj}, etc.]

          // I think that (id, thing) in main.things must get those two properties in memory (& available to you),
          // and then objToArr manipulates (filters) main.things, which the rest of the filters then work from.

          // TURNS OUT that id will be changed to the index of the array that is made with objToArr. So it won't work,
          // but thing._id will. Seems weird. Is an Angular thing that is happening.

          tr(ng-repeat="(id, thing) in main.things | objToArr | orderBy:'name' | filter:query")
            td: button.btn.btn-xs.btn-danger(ng-click="main.removeThing(thing)") X
            td {{thing.name | ransomcase}}
            td: a(href="http://twitter.com/{{thing.twitter}}", target="_blank") {{thing.twitter}}
            td: img(ng-src="{{thing.photo}}", data-toggle="modal", data-target="#lightbox", ng-click="main.showLightbox(thing)")
          tr
            td: button.btn.btn-success.btn-block(data-toggle="modal", data-target="#modal") Add New Thing
            td(colspan="2")
              input.form-control(type="text", ng-model="query", placeholder="Filter Results")

      .modal.fade#modal
        .modal-dialog
          .modal-content
            .modal-header
              button.close(data-dismiss="modal")
                span &times;
              h1 Add Thing
            .modal-body
              .form-section
                // ng-submit left in below intentionally as an example of using a truthy & && statement to check for a condition prior to firing a function.

                form(name="main.newThingForm" ng-submit="main.newThingForm.$valid && main.addNewThing()" novalidate)
                  .form-group(ng-class="{'has-success': main.newThingForm.n.$dirty, 'has-error': main.newThingForm.n.$dirty && !main.newThing.name}")
                    label Name
                    input.form-control(name="n", type="text", placeholder="object" ng-model="main.newThing.name" required)
                  .form-group(ng-class="{'has-success': main.newThingForm.t.$dirty && main.newThing.twitter.length > 1 && main.newThing.twitter[0] === '@', 'has-error': main.newThingForm.t.$dirty && (main.newThing.twitter.length <= 1 || main.newThing.twitter[0] !== '@')}")
                    label Twitter
                    input.form-control(name="t", type="text", placeholder="TWEETUR" ng-model="main.newThing.twitter" required)
                  .form-group(ng-class="{'has-success': main.newThingForm.p.$dirty && main.newThing.photo.slice(0, 4) === 'http', 'has-error': main.newThingForm.p.$dirty && main.newThing.photo.slice(0, 4) !== 'http'}")
                    label Photo
                    input.form-control(name="p", type="text", placeholder="url" ng-model="main.newThing.photo")
            .modal-footer
              button.btn.btn-lg.btn-success(ng-click="main.addNewThing()" ng-disabled="main.newThingForm.$invalid") Add New Thing
              button.btn.btn-lg.btn-danger(data-dismiss="modal") Cancel

      .modal.fade#lightbox
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(data-dismiss="modal")
                span &times;
              img


    script(src="lib/build.js")
    script(src="js/main.js")
